# ignoring these files/dirs in the buildout
develop-eggs
fake-eggs
eggs
bin
var
parts
downloads
products
.installed.cfg
dumped-versions.cfg
tags
fabfile*
.mr.developer.cfg
IGNORE.txt
src/transmogrify.comments
