[buildout]
parts =
    MySQL-python
    instance
    zeoserver
    omelette
    plonesite

extends = 
    http://dist.plone.org/release/4.0.7/versions.cfg
    versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.0.7
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
auto-checkout = *
versions = versions

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on format for this part
[sources]
my.migration = fs my.migration
my.policy = fs my.policy
transmogrify.comments = git git://github.com/claytron/transmogrify.comments.git

# add the crazy /opt path for local dev so that the egg
# can find mysql_config
[sql-env]
PATH = %(PATH)s:/opt/local/lib/mysql5/bin/:/opt/local/lib/mysql/bin/

[MySQL-python]
recipe = zc.recipe.egg:custom
egg = MySQL-python
environment = sql-env

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
zeo-address = 8100
debug-mode = off
verbose-security = on
shared-blob = on
blob-storage = ${zeoserver:blob-storage}
eggs =
    PIL
    Plone
    MySQL-python
# See the policy for the rest of the requirements
    my.policy

[zeoserver]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address = ${instance:zeo-address}

# symlinks all Python source code to parts/omelette folder when buildout is run
# windows users will need to install additional software for this part to build 
# correctly.  See http://pypi.python.org/pypi/collective.recipe.omelette for
# relevant details.
[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
zeoserver = zeoserver
site-id = Plone
admin-user = admin
profiles-initial = my.policy:initial
profiles = my.policy:default
